[submodule "moralis-unity"]
	path = moralis-unity
	url = keybase://team/signalkinetics.unity/moralis
[submodule "marketplace-games/web3-test-game"]
	path = marketplace-games/web3-test-game
	url = keybase://team/signalkinetics.unity/web3-test-game
	
[submodule "marketplace-games/web3-tg-react"]
	path = marketplace-games/web3-tg-react
	url = keybase://team/signalkinetics.unity/web3-test-game-react
[submodule "Containers/showm3-template"]
	path = Containers/showm3-template
	url = keybase://team/signalkinetics.templates/showm3-template
