[submodule "marketplace-games/web3-test-game"]
	path = marketplace-games/web3-test-game
	url = keybase://team/signalkinetics.unity/web3-test-game
	
[submodule "marketplace-games/web3-tg-react"]
	path = marketplace-games/web3-tg-react
	url = keybase://team/signalkinetics.unity/web3-test-game-react
[submodule "Containers/showm3-template"]
	path = Containers/showm3-template
	url = keybase://team/signalkinetics.templates/showm3-template
[submodule "marketplace-games/moralis-unity"]
	path = marketplace-games/moralis-unity
	url = keybase://team/signalkinetics.unity/moralis
[submodule "mainchain/moralis-opensea"]
	path = mainchain/moralis-opensea
	url = keybase://team/signalkinetics.hack/moralis-opensea
[submodule "dashboards/avalanche-db"]
	path = dashboards/avalanche-db
	url = keybase://team/signalkinetics.templates/avalanche-db
