.header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: white !important;
}

.App {
  display: flex;
  justify-content: space-between;
}

.unAuth {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 20vh;
}

.page {
  display: flex;
  justify-content: space-between;
}

.sideBar {
  position: sticky;
  top: 0px;
  width: calc((100vw - 800px) * 0.15);
  border-right: 1px solid rgb(63, 63, 63);
  color: white;
  height: 100vh;
}

.rightBar {
  position: sticky;
  top: 0px;
  width: calc((100vw - 800px) * 0.55);
  border-left: 1px solid rgb(63, 63, 63);
  color: white;
  height: 100vh;
}

.mainWindow {
  width: 800px;
}
.logout {
  display: flex;
  font-weight: bold;
  color: black;
  padding: 10px;
  gap: 14px;
  cursor: pointer;
}

@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}